<div class="meniu">
	<ul>
		<li>
			<% link_to 'Home', root_path %>
		</li>
		<li>
			<a href="#">Events</a>
		</li>
		<li><a href="#">Multimedia</a></li>
		<li><a href="#">Contact</a></li>

	</ul>

</div>