<h1>Vrei sa stii mereu ce se intampla?</h1>
<br>
<h4>Ce? Unde? Cand?</h4>
<br>
<p>
	<img src="/assets/ev1.jpg" class="img-polaroid" alt="Evenimente"/>
	<img src="/assets/ev2.jpg" class="img-polaroid" alt="Evenimente"/>
	<img src="/assets/ev3.jpg" class="img-polaroid" alt="Evenimente"/>

	
</p>

<br>

<div id="center" class="btn btn-success btn-large">
	Sign up!
</div>
